@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background: #eef8ff;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.qator {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.qator-col {
    flex-basis: 25%;
    padding: 10px;
}

.qator-col:nth-child(2), .qator-col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.qator-col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .bi-envelope {
    margin-right: 10px;
}

form .form-input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form .form-btn {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.social-icons .bi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    padding: 10px 13px;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    from {
        left: -20px;
    }

    to {
        left: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .qator-col {
        flex-basis: 100%;
    }

    .qator-col:nth-child(2), .qator-col:nth-child(3) {
        flex-basis: 100%;
    }
}

/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: #2c2f48;
}

.contact-container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.form-container {
    padding: 20px;
}

.form-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form .send-button {
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-button:hover {
    background: hsl(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;
}

.map iframe {
    width: 100%;
    height: 100%;

}

@media only screen and (max-width: 964px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 700px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }

    .map iframe {
        height: 400px;
    }
} */






/* .container {
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bbf9;
}

.container form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder {
    color: #ddd;
}

.container form #lastName,
.container form #mobile {
    margin-left: 20px;
}

.container form h4 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
} */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c0c0c;
}


.card-btn {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

.card-btn span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    letter-spacing: 8px;
}

.card-btn .liquid {
    position: relative;
    left: 0;
    top: 0;
    width: 200px;
    top: 200px;
    background-color: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
} */


/* 
.portfolioContainer {
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 30px 8%;
}

header.title {
    max-width: 700px;
    margin: 0px auto;
    padding: 0px 0px 20px 0px;
    text-align: center;
}

header.title h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}

section.btns {
    padding: 20px 0px 25px;
}

section.btns ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

section.btns ul li {
    display: inline-block;
    padding: 3px 0px;
    font-size: 20px;
    font-weight: 500;
    color: #666;
    letter-spacing: 1px;
    margin: 4px 10px;
    cursor: pointer;
    transition: color 0.4s;
}

section.btns ul li:hover {
    color: dodgerblue;
}

section.btns ul li.active {
    position: relative;
    color: dodgerblue;
}

section.btns ul li.active::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: dodgerblue;
    animation: animate 0.4s linear;
}

@keyframes animate {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

section.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

section.gallery .card {
    position: relative;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}

section.gallery .card.hide {
    display: none;
}

section.gallery .card.active {
    display: block;
    animation: animateTwo 0.6s;
}

@keyframes animateTwo {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(1);
    }
}

.card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.card .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.4s;
}

.card:hover .imgBox img {
    opacity: 0.3;
    cursor: pointer;
}

.card .imgText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgText h2, .imgText p {
    padding: 20px 10%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s linear,
                padding 0.3s linear;
}

.card:hover .imgText h2, .card:hover .imgText p {
    opacity: 1;
    padding: 8px 10%;
}

@media only screen and (max-width: 1024px) {
    section.gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    section.gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    header.title {
        padding: 0px 0px 10px 0px;
    }
} */