body {
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    /* height: 7000px; */
    background-color: #000 !important;
}

/* navbar qismi */

.dropdown-content {
    top: 100px;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.7s;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    opacity: 100%;
    transform: translate(0px, -28px);
}

.main-header {
    position: fixed;
    background-color: #191C24;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    z-index: 2;
}

.container_2 {
    width: 1140px;
    margin: 0 auto;
}

.main_header_brand {
    display: inline-block;
    vertical-align: middle;
}

.main_header_brand a {
    position: relative;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    left: -8.5rem;
}

.main_navigation {
    display: inline-block;
    vertical-align: middle;
}



.main-navigation_item {
    position: relative;
    display: inline-block;
    left: 22rem;
    padding: 10px;
    margin-top: 1.5rem;
}

.main-navigation_item_a {
    color: #6C7293;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
}

.main-navigation_item_a:hover {
    color: red;
}

.main-navigation_item_a.active a {
    color: red;
}

.custom-btn {
    background-color: red;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: rgb(132, 18, 18);
}

.fa-solid {
    padding: 1rem;
}

/* / navbar qismi */

/* carousel qismi */

.carousel-item {
    height: 26rem;
}

.carousel-caption {
    vertical-align: middle;
    margin-bottom: 6rem;
}

.carousel-rasm {
    position: relative;
    top: -180px;
    filter: brightness(0.15);
}

.about {
    font-size: 4.2rem;
    letter-spacing: -3px;
}

.joylashuv {
    padding: 5px;
    font-size: 1.2rem;
}

/* / carousel qismi */

/*  Narx va reja */

.narx {
    position: relative;
    margin-top: 100px !important;
    left: 16px;
    height: 38.75rem;
    width: 79.4rem;
    background-color: #191C24;
}

.ish_vaqti {
    position: relative;
    top: 40rem;
}

.Price_Plan p {
    width: 150px;
    height: 30px;
    color: #EB1616;
    background-color: #000;
}

.Price_Plan {
    background-color: #191C24;
}

.margin {
    overflow: hidden;
}

.margin_2 {
    overflow: hidden;
}

.rasm_2 {
    width: 105%;
    height: 39rem;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    margin-left: -1rem;
}

.margin:hover .rasm_2 {
    transform: scale(1.1);
}

.margin_2:hover .rasm_2 {
    transform: scale(1.1);
}

.d-flex {
    position: relative;
    top: 26%;
    left: 7.5%;
    width: 85%;
}

.reja {
    position: relative;
    top: 130px;
    padding: 4px;
    padding-left: 23px;
}

.barber {
    position: relative;
    top: 150px;
}

.col {
    color: white;
}

/* / Narx va reja */

/* eng pastki qismi */

.yakun {
    position: relative;
    top: 5rem;
    left: 1.8rem;
}

.block a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #6C7293;
}

.yakun a:hover {
    color: #df0c0c;
    letter-spacing: 1px;
    transition: 0.7s;
}

.future {
    margin-top: 6rem;
    background-color: #191C24;
    width: 100%;
    height: 23rem;
}

.rang_1 {
    color: #6C7293;
}

.h4-qalin {
    font-weight: bold;
}

.birinchi_input {
    padding: 13px;
}

.ikkinchi_input {
    padding: 13px;
    transform: rotate(0deg);
}

.uchinchi_input {
    padding: 13px;
}

.tugma {
    border-style: none;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 5rem;
}

.manzil {
    color: #df0c0c;
    width: 45px;
    height: 45px;
    background-color: #000;
    padding: 0.9rem;
    margin-left: 20px;
}

.fa {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.futer {
    margin-top: -20rem;
}

/* / eng pastki qismi */