body {
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    /* height: 7000px; */
    background-color: #000 !important;
}

#backToTopBtn

/* navbar qismi */

.dropdown-content {
    top: 100px;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.7s;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    opacity: 100%;
    transform: translate(0px, -28px);
}

.main-header {
    position: fixed;
    background-color: #191C24;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    z-index: 2;
}

.container_2 {
    width: 1140px;
    margin: 0 auto;
}

.main_header_brand {
    display: inline-block;
    vertical-align: middle;
}

.main_header_brand a {
    position: relative;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: bold;
    left: -8.5rem;
}

.main_navigation {
    display: inline-block;
    vertical-align: middle;
}



.main-navigation_item {
    position: relative;
    display: inline-block;
    left: 22rem;
    padding: 10px;
    margin-top: 1.5rem;
}

.main-navigation_item_a {
    color: #6C7293;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
}

.main-navigation_item_a:hover {
    color: red;
}

.main-navigation_item_a.active a {
    color: red;
}

.custom-btn {
    background-color: red;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: rgb(132, 18, 18);
}

.fa-solid {
    padding: 1rem;
}

/* / navbar qismi */

/* Caroseul qismi */

.carousel {
    position: relative;
    top: 3rem;
}

.brightness {
    filter: brightness(0.20);
}

#telefon_raqam {
    position: relative;
    left: -20px;
}

#telefon_raqam_1 {
    position: relative;
    left: -10px;
}

.new_york_1 {
    position: relative;
    left: -12px;
}

.new_york {
    margin-right: 600px;
    margin-top: -20px;
}

.carousel-caption {
    position: absolute;
    top: 10rem;
    font-weight: bold;
}

.fa-phone-alt {
    transform: rotate(95deg);
}

.joylashuv_iconkasi {
    margin-left: -100px;
}


/* / Caroseul qismi */

/* Men haqimda qismi */

.bu_row {
    position: absolute;
    /* top: 78rem;
    left: 15.5rem; */
    top: 65rem;
    left: 4%;
}

.haqida {
    width: 100px;
    height: 30px;
    background-color: #191C24;
    margin-bottom: 20px;
}

.col {
    color: white;
}

.col_2 {
    position: relative;
    left: 25px;
}

.col_2 h1 {
    margin-bottom: 25px;
    font-weight: bold;
}

.col_4 p {
    padding-bottom: 50px;
}

.rasm {
    width: 28rem;
    margin-left: 13rem;
}

.container_5 {
    position: relative;
    display: inline-block;
    top: 29rem;
    left: 9%;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 40px;
    padding-right: 65px;
    background-color: #191C24;
    color: white;
}

.container_5 h1 {
    line-height: 1.5;
}

p {
    color: #6C7293;
}

/* / Men haqimda qismi */

/* Xizmatlar qismi */

.haqida_2 {
    position: relative;
    top: 37rem;
}

.haqida_2 p {
    position: absolute;
    padding-left: 20px !important;
    padding: 3px;
    width: 100px;
    height: 30px;
    color: #df0c0c;
    background-color: #191C24;
    left: 47%;
    top: -50px;
}

.col {
    margin: 0 !important;
}

.services {
    position: relative;
    top: 630px;
}

.plus_tashqari {
    position: relative;
    top: 2.5rem;
    left: 21.7rem;
    width: 100px;
    height: 100px;
    transition: all .3s linear !important;
    transform: translate(0, 0);
}

.services_col:hover .plus_tashqari {
    transition: all .3s linear;
    transform: translate(-56px, -51px);
}

.plus {
    position: absolute;
    padding: 14px;
    width: 60% !important;
    height: 50% !important;
    margin: 0 !important;
    color: #df0c0c;
    background-color: black;
}

.services_col {
    background-color: #191C24;
    height: 270px;
    margin: 15px !important;
    overflow: hidden;
}

.rasm_1 {
    position: relative;
    left: -13px;
    top: 3rem;
    background-color: #000;
    width: 4rem;
    height: 4rem;
}

.rasm_1 img {
    padding: 18px;
}

.text_1 {
    position: relative;
    left: 100px;
    top: -1rem;
}

/* / Xizmatlarim qismi */

/*  Narx va reja */

.narx {
    position: relative;
    margin-top: 700px !important;
    left: 16px;
    height: 38.75rem;
    width: 79.4rem;
    background-color: #191C24;
}

.ish_vaqti {
    position: relative;
    top: 40rem;
}

.Price_Plan p {
    width: 150px;
    height: 30px;
    color: #EB1616;
    background-color: #000;
}

.Price_Plan {
    background-color: #191C24;
}

.margin {
    overflow: hidden;
}

.margin_2 {
    overflow: hidden;
}

.rasm_2 {
    width: 105%;
    height: 39rem;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    margin-left: -1rem;
}

.margin:hover .rasm_2 {
    transform: scale(1.1);
}

.margin_2:hover .rasm_2 {
    transform: scale(1.1);
}

.d-flex {
    position: relative;
    top: 26%;
    left: 7.5%;
    width: 85%;
}

.reja {
    position: relative;
    top: 130px;
    padding: 4px;
    padding-left: 23px;
}

.barber {
    position: relative;
    top: 150px;
}

/* / Narx va reja */

/* Sartaroshlar   */

.barber_1 {
    width: 130px;
    height: 30px;
    padding: 3px;
    padding-left: 25px;
    color: #EB1616;
    background-color: #191C24;
}


.barber_1_style {
    position: relative;
    top: 800px;
    left: 47%;
}

.text_2 {
    position: relative;
    top: 50rem;
    text-align: center;
    color: white;
}

.katta_quti {
    position: relative;
    top: 53rem;
}

.quti-rasm {
    position: relative;
    top: -360px;
}

.quti-rasm img {
    width: 300px;
}

.align {
    height: 6rem;
    text-align: center;
    background-color: #191C24;
}

.center {
    margin-top: -40rem;
}

.barber_name {
    position: relative;
    top: 20px;
}

.design {
    position: relative;
    top: 10px;
    color: red;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: #df0c0c;
    border-radius: 0;
    padding: .8rem .8rem;
    border: none;
    cursor: pointer;
    transition: all opacity 10s visibility 10s;
    z-index: 50;
}

#backToTopBtn.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#backToTopBtn.hide {
    opacity: 0;
    visibility: hidden;
}

.anim-button {
    padding: .8rem 2rem;
    top: 360px;
    height: 360px;
    font-size: 1.05rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 1s, box-shadow 1s, transform 1s;
    overflow: hidden;
    position: relative;
}

.anim-button::before,
.anim-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000007c;
    transition: transform 1s;
    z-index: -1;
}

.anim-button::before {
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.anim-button::after {
    top: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.anim-button:hover::before,
.anim-button:focus::before,
.anim-button:active::before {
    transform: scaleX(1);
}

.anim-button:hover::after,
.anim-button:focus::after,
.anim-button:active::after {
    transform: scaleX(1);
}

.anim-button:hover {
    background-color: #0000007c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

    .icon {
        opacity: 100%;
    }
}

.team-img {
    position: relative;

}

.icon {
    color: #df0c0c;
    margin-top: 6rem;
    opacity: 0;
    transition: 1s;
}

/* Sartaroshlar   */

/* ish vaqti qismi */

.text_5 {
    color: #6C7293;
}

.Testiamonol {
    position: relative;
    top: 18rem;
}



.barber_1_style_2 {
    position: relative;
    top: 50rem;
    left: 45%;
}

.karusel {
    margin-top: 70rem;
}

.rasm_9_uchun {
    margin-left: 48%;
    border: 1px solid #191C24;
    border-radius: 4px;
    padding: 10px;
    width: 100px;
    display: inline-block;
}

.rasm_9_uchun:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.rasm_9_1 {
    position: relative;
    top: 5.4rem;
    width: 70px;
    margin-left: 43%;
    display: inline-block;
    filter: brightness(0.30);

}

.rasm_9_3 {
    position: relative;
    top: -5.2rem;
    width: 70px;
    margin-left: 55%;
    display: inline-block;
    filter: brightness(0.30);
}

/* /ish vaqti qismi */

/* eng pastki qismi */

.yakun {
    position: relative;
    top: 5rem;
}

.block a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: #6C7293;
}

.yakun a:hover {
    color: #df0c0c;
    letter-spacing: 1px;
    transition: 0.7s;
}

.future {
    background-color: #191C24;
    width: 100%;
    height: 450px;
}

.rang_1 {
    color: #6C7293;
}

.h4-qalin {
    font-weight: bold;
}

.birinchi_input {
    padding: 13px;
}

.ikkinchi_input {
    padding: 13px;
    transform: rotate(0deg);
}

.uchinchi_input {
    padding: 13px;
}

.tugma {
    border-style: none;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 5rem;
}

.manzil {
    color: #df0c0c;
    width: 45px;
    height: 45px;
    background-color: #000;
    padding: 0.9rem;
    margin-left: 20px;
}

.fa {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.futer {
    margin-top: -20rem;
}

/* / eng pastki qismi */



